@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@mixin mobile{
  @media only screen and (max-width: 768px){
    @content;
  }
}

$basic-shadow: 0 2px 1rem rgba(0, 0, 0, .5);

*{
  color: #FFF;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root{
  font-size: 18px;
  scroll-behavior: smooth;
}

html, body{
  min-height: 100vh;
}

body{
  margin: 0;
  font-family: Montserrat, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.background{
  background-image: url("/background.png");
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.background-overlay{
  background-color: rgba(0, 0, 0, .25);
  backdrop-filter: blur(16px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1{
  margin: 0 0 .5rem 0;
  font-size: 2rem;
  font-weight: 600;

  @include mobile{
    font-size: 1.3rem;
  }
}

header{
  margin-top: 4rem;

  @include mobile{
    margin-top: 1rem;
  }

  svg{
    width: 85%;
    margin: 0 auto;
    display: block;
  }

  & > div{
    margin-top: 2rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    text-shadow: $basic-shadow;

    @include mobile{
      font-size: 1.5rem;
    }
  }
}

main{
  margin: 5rem 10rem;

  @include mobile{
    margin: 2rem .5rem;
  }

  h1{
    text-shadow: $basic-shadow;
  }

  p{
    margin: 0 0 2rem 0;
    text-shadow: $basic-shadow;
  }

  .download{
    padding: 1rem 2rem;
    background-color: #000;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    img{
      width: 24px;
      margin-right: 1rem;
    }
  }
}

.cards{
  margin: 0 auto 1rem auto;
  display: flex;
  flex-direction: row;

  @include mobile{
    flex-direction: column;
  }

  & > div{
    margin: 0 .5rem;
    padding: 1rem 1.5rem;
    background-color: #F5F5F5;

    @include mobile{
      margin: .5rem;
    }

    & > *{
      color: #000;
    }
  }
}
